html{
    width: 100%;
    background-color: blue;
}

header{
    background-color: lightseagreen;
}

#loginLinks{
    position: absolute;
    top: 50px;
    right: 15%;
}

nav[role]{
    text-align: center;
}

body{
    max-width: 75%;
    margin: 0 auto;
    background-color: lightblue;
    padding: 0 20px;
}

#products{
    margin: 0 auto;
    margin: 3px auto;
    border: 1px solid black;
    padding:3px;
}

#products th{
    margin: 3px auto;
    border: 1px solid black;
    padding:3px;
}

#products img{
    width: 90%;
}

#products input{
    width: 80px;
    margin: 0 6px;
    padding: 0px;
}

.createLoginCell1{
    text-align: left;
}